*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Playfair Display", serif;
    background-color: #eef0f3;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img{
    width: 200px;
    margin: 0 auto;
}

input, button {
    border: 0;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "Playfair Display", serif;
}

input {
  color: #432000;
  background-color: #dce1eb;
}

button {
  color: #fdfdfd;
  background-color: #055ba0;
  margin: 16px 0;
}


ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

ul li{
    font-size: 20px;
    background-color: #fffdf8;
    padding: 16px;
    flex-grow: 1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}